body, html {
  background-color: #ffa07a;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: black;
  height: 100%; }

h1 {
  text-align: center;
  font-size: 30px; }

#transcription {
  display: table;
  width: 100%; }
  #transcription p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 100px;
    margin: 0; }

#buttons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #buttons span p {
    margin: 0 10px;
    line-height: 60px;
    float: left;
    text-align: center;
    height: 60px;
    background-color: #ffd6a0;
    border-radius: 100%;
    width: 60px;
    font-size: 20px;
    border: 1px solid #ffc67a;
    color: #333;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15); }
    #buttons span p.selected, #buttons span p:hover {
      background-color: #80cdac;
      border: 1px solid #65b794; }

form {
  text-align: center;
  padding: 0; }
  form input {
    border: 0px solid black;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 100px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    height: inherit;
    margin: 0;
    padding: 0; }
  form #submit {
    height: 0px;
    width: 0px;
    padding: 0;
    margin: 0;
    border: 0px solid black; }

*:focus {
  outline: 0; }
