$buttonsize: 60px;

body, html {
    background-color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: #2c3e50;
    height: 100%
}

h1 {
	text-align: center;
	font-size: 30px;
}

#transcription {
	display: table;
	width: 100%;
	p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 100px;
		margin: 0;
	}
}

#buttons {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -37px;
	margin-left: -110px;
	span p {
		margin: 7px 20px;
		line-height: $buttonsize;
		float: left;
		text-align: center;
		height: $buttonsize;
		background-color: #9b59b6;
		border-radius: 15px;
		width: $buttonsize;
		font-size: 20px;
		border: 0px solid #ffc67a;
		color: white;
		// box-shadow: 0 0 5px 2px rgba(0,0,0,.5);
		&.format {
			margin: 7px 0;
		}
		&.left {
			border-radius: 15px 0 0 15px;
		}
		&.right {
			border-radius: 0 15px 15px 0;
		}
		&.selected.format, &.format:hover {
			background-color: #8e44ad;
			border: 0px solid lighten(#54af88,5%);
		}
	}
	#help {
		font-size: 50px;
		background-color: #16a085;
		border: 0px solid #777;
	}
}

form {
	text-align: center;
	padding: 0;
	input {
		border: 0px solid black;
		width: 100%;
		background-color: #34495e;
		font-size: 100px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		height: inherit;
		margin: 0;
		padding: 0;
		color: white;
	}
	#submit {
		height: 0px;
		width: 0px;
		padding: 0;
		margin: 0;
		border: 0px solid black;
	}
}

*:focus {
    outline: 0;
}