$buttonsize: 60px;

body, html {
    background-color: #ffa07a;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    color: black;
    height: 100%
}

h1 {
	text-align: center;
	font-size: 30px;
}

#transcription {
	display: table;
	width: 100%;
	p {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		font-size: 100px;
		margin: 0;
	}
}

#buttons {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	span p {
		margin: 7px;
		line-height: $buttonsize;
		float: left;
		text-align: center;
		height: $buttonsize;
		background-color: #ffd6a0;
		border-radius: 100%;
		width: $buttonsize;
		font-size: 20px;
		border: 1px solid #ffc67a;
		color: #333;
		// box-shadow: 0 0 5px 2px rgba(0,0,0,.05);
		&.selected.format, &.format:hover {
			background-color: #80cdac;
			border: 1px solid lighten(#54af88,5%);
		}
	}
	#help {
		font-size: 50px;
		background-color: rgba(0,0,0,.1);
		border: 0px solid #777;
	}
}

form {
	text-align: center;
	padding: 0;
	input {
		border: 0px solid black;
		width: 100%;
		background-color: rgba(255,255,255,.3);
		font-size: 100px;
		text-align: center;
		font-family: 'Montserrat', sans-serif;
		height: inherit;
		margin: 0;
		padding: 0;
	}
	#submit {
		height: 0px;
		width: 0px;
		padding: 0;
		margin: 0;
		border: 0px solid black;
	}
}

*:focus {
    outline: 0;
}