<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Tools for Linguists</title>
	
    <!-- Styles -->
    <link rel="stylesheet" href="static/css/main.css" type="text/css" media="screen" />

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
	<!-- <h1>fənɛtɪk.mi</h1> -->

	<div id="transcription">
		<p>Type below to transcribe!</p>
	</div>

	<div id="buttons">
		<span><p class="selected">IPA</p></span>
		<span><p>APA</p></span>
		<span><p>EPA</p></span>
	</div>

	<form id="transcribeForm">
		<input type="text" id="userinput" name="userinput">
		<input type="submit" id="submit" value="Transcribe">
	</form>

    <!-- Scripts -->
    <script src="static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="static/js/main.js" type="text/javascript"></script>
</body>
</html>